{% extends "base.html" %}

{% block title %}ALMBOARD - Page Not Found{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Not Found</h1>
    </div>
{% endblock %}