<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/datatables/dataTables.bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/datatables/1.2.2/datatables.min.css">


    {% block head %}{% endblock %}

  </head>
  <body>
  <!--<div class="container"> -->
    <div class="container-fluid">

            <!-- Static navbar -->
<nav class="navbar navbar-default">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ALMBoard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!-- ALM Tools-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://almboard:9000" target="_blank">Web Docker</a></li>
            <li><a href="http://almboard:9090" target="_blank">Prometheus</a></li>
            <li><a href="http://almboard:3000" target="_blank">Grafana</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ALM Tools<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/mail/mail-send">Рассылка ALM</a></li>
            <li><a href="/mail/mail-log">Рассылка ALM (архив сообщений)</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://regedit.idodev.avp.ru/#/configuration/host/https://hqrndtfs.avp.ru/tfs/DefaultCollection" target="_blank">IDODEV > Configuration</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Active Directory<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/ad/ad-users">Users</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TFS<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/tfs/tfs-projects">Projects</a></li>
            <li><a href="/tfs/tfs-projects-add">Add project</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://almtsttools/WITD/#!/host?url=https:%2F%2Fhqrndtfs.avp.ru%2Ftfs%2FDefaultCollection%2F" target="_blank">WorkItemType Editor</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perforce<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/perforce/p4-users">Users</a></li>
            <li><a href="/perforce/p4-users-candidats-for-deletion">Users for deletion (access >61 day)</a></li>
            <li><a href="/perforce/p4-users-add">Add user</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/perforce/p4-permissions">Permissions (protect)</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://hqrndsrvdsk.avp.ru/ssp/admin#/sourceowners/list" target="_blank">Владельцы веток</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://iplist.kaspersky.com/" target="_blank">IT > IP List</a></li>
            <li><a href="https://it.kaspersky.com/ITInfraDev/SIG/Lists/Equipment/view.aspx" target="_blank">IT > Equipment</a></li>

          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Knowledge Base<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://confluence.kaspersky.com/display/ALM" target="_blank">Домашняя</a></li>
              <li role="separator" class="divider"></li>
            <li><a href="https://confluence.kaspersky.com/display/ALM/ALM+Support" target="_blank">Шаблоны оповещений</a></li>
            <li><a href="https://confluence.kaspersky.com/pages/viewpage.action?pageId=127074513" target="_blank">Список TFS-менеджеров</a></li>
            <li><a href="https://support.microsoft.com/en-us/premier" target="_blank">Тех.поддержка Microsoft</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

</nav>



    {% block content %}{% endblock %}

  </div>

    <!-- Optional JavaScript
    ================================================== -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/datatables/jquery.dataTables.min.js"></script>
	<!--<script type="text/javascript" language="javascript" src="/static/js/datatables/dataTables.bootstrap.min.js"></script> -->
    <script type="text/javascript" language="javascript" src="/static/js/datatables/1.2.2/datatables.min.js"></script>
    {% block footer %}{% endblock %}

  </body>
</html>