{% extends "base.html" %}
{% block content %}

		<h1>Инструменты ALM-разработчика</h1>
		<h3><ul>
			<li><a href="/mail/mail-send">Рассылка ALM</a></li>
			<li><a href="/mail/mail-log">Рассылка ALM (архив сообщений)</a></li>
			<br>
			<li><a href="/ad/ad-users">Учётные записи Active Directory</a></li>
			<br>
			<li><a href="/perforce/p4-users">Учётные записи Perforce</a></li>
			<li><a href="/perforce/p4-users-candidats-for-deletion">Учётные записи Perforce для удаления</a></li>
			<li><a href="/perforce/p4-users-add">Добавить учётную запись Perforce</a></li>
			<li><a href="/perforce/p4-permissions">Права Perforce (protect)</a></li>
			<br>
			<li><a href="/tfs/tfs-projects">TFS проекты</a></li>
			<li><a href="/tfs/tfs-projects-add">Добавить новый проект</a></li>


		</ul>
			</h3>

{% endblock %}

{% block footer %}
{% endblock %}
