{% extends "base.html" %}

{% block head %}
        <link rel="stylesheet" href="\static\trumbowyg\ui\trumbowyg.css">
        <link rel="stylesheet" href="\static\trumbowyg\plugins\colors\ui\trumbowyg.colors.css">

{% endblock %}

{% block content %}

<h2>Рассылка ALM</h2>

<a href="./mail-log" class="btn btn-link" role="button" target="_blank">Архив отправленных сообщений</a>.
<p></p>
<p></p>

<form action="/mail/mail_send_action" method="POST">

{% if status != "" %}
	<div class="alert alert-success" role="alert">
	  {{ status }}
	</div>
{% endif %}

<table>
    <tr>
        <td style="width:30%" valign="top">
			<h3><span class="label label-primary">Generate:</span></h3>
		</td>
		<td style="width:60%" valign="top">
			<h3><span class="label label-primary">Mail:</span></h3>
		</td>
		<td valign="top">

		</td>
	</tr>
	<tr>
		<td valign="top">
			<table>
				<tr>
					<td valign="top">

					  <div class="form-group">
						<label Background="Blue" Foreground="White" for="notificationt">Mail template:</label>
						<select class="btn btn-default dropdown-toggle" name="notificationtype" id="notificationt">
							<optgroup label="Standard">
								<option value="incident" {% if nt=="incident" %} selected="selected"{% endif %}>Incident (аварийные работы)</option>
								<option value="maintenance" {% if nt=="maintenance" %} selected="selected"{% endif %}>Maintenance (плановые работы)</option>
							</optgroup>
							<optgroup label="Custom">
								<option value="rcm" {% if nt=="rcm" %} selected="selected"{% endif %}>RCM</option>
								<option value="perforce" {% if nt=="perforce" %} selected="selected"{% endif %}>Perforce Деактивация учёток</option>
								<option value="perforce2" {% if nt=="perforce2" %} selected="selected"{% endif %}>Perforce Деактивация учёток (неформальный опрос)</option>
								<option value="test" {% if nt=="test" %} selected="selected"{% endif %}>Test template</option>
							</optgroup>
						</select>
					  </div>

			  <div class="form-group">
				<label for="date_d">Period: </label><br>
				  <table>
					  <tr>
						  <td>
							  <label>Date (DD.MM.YYYY):</label>
						  </td>
						  <td>
							  <select class="btn btn-default dropdown-toggle" name="date_d" id="date_d">
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">03</option>
								<option value="04">04</option>
								<option value="05">05</option>
								<option value="06">06</option>
								<option value="07">07</option>
								<option value="08">08</option>
								<option value="09">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
						</select>
						<label for="date_m">.</label>
						<select class="btn btn-default dropdown-toggle" name="date_m" id="date_m">
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">03</option>
								<option value="04">04</option>
								<option value="05">05</option>
								<option value="06">06</option>
								<option value="07">07</option>
								<option value="08">08</option>
								<option value="09">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
						</select>
						<label for="date_y">.</label>
						<select class="btn btn-default dropdown-toggle" name="date_y" id="date_y">
								<option value="2017">2017</option>
								<option value="2018">2018</option>
								<option value="2019">2019</option>
								<option value="2020">2020</option>
						</select>

						  </td>
					  </tr>
					  <tr>
						  <td>
							  <label>Time (HH:MM - HH:MM):</label>
						  </td>
						  <td>
							  						<select class="btn btn-default dropdown-toggle" name="time_h" id="time_h">
								<option value="00">00</option>
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">03</option>
								<option value="04">04</option>
								<option value="05">05</option>
								<option value="06">06</option>
								<option value="07">07</option>
								<option value="08">08</option>
								<option value="09">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
						</select>
						<label for="time_m">:</label>
						<select class="btn btn-default dropdown-toggle" name="time_m" id="time_m">
								<option value="00">00</option>
								<option value="05">05</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
								<option value="25">25</option>
								<option value="30">30</option>
								<option value="35">35</option>
								<option value="40">40</option>
								<option value="45">45</option>
								<option value="50">50</option>
								<option value="55">55</option>
						</select>

						<label for="time_h_f"> - </label>
						<select class="btn btn-default dropdown-toggle" name="time_h_f" id="time_h_f">
								<option value="00">00</option>
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">03</option>
								<option value="04">04</option>
								<option value="05">05</option>
								<option value="06">06</option>
								<option value="07">07</option>
								<option value="08">08</option>
								<option value="09">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
						</select>
						<label for="time_m_f">:</label>
						<select class="btn btn-default dropdown-toggle" name="time_m_f" id="time_m_f">
								<option value="00">00</option>
								<option value="05">05</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
								<option value="25">25</option>
								<option value="30">30</option>
								<option value="35">35</option>
								<option value="40">40</option>
								<option value="45">45</option>
								<option value="50">50</option>
								<option value="55">55</option>
						</select>

						  </td>
					  </tr>
				  </table>
			  </div>



			  <div class="form-group">
				<label for="inlineCheckbox1">Services:</label>
				<div class="form-check form-check-inline">
				  <label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="services" id="inlineCheckbox1" value="TFS">TFS
				  </label>
				</div>
				<div class="form-check form-check-inline">
				  <label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="services" id="inlineCheckbox2" value="Perforce">Perforce
				  </label>
				</div>
				<div class="form-check form-check-inline">
				  <label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="services" id="inlineCheckbox3" value="CodeCollaborator">CodeCollaborator
				  </label>
				</div>
				<div class="form-check form-check-inline">
				  <label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="services" id="inlineCheckbox4" value="Custom services">Custom services
				  </label>
				</div>
			  </div>

				</td>
				</tr>

				<tr>
					<td>

					</td>
				</tr>

			</table>

		</td>
		<td valign="top">
			<table style="width:100%">
				<tr>
					<td valign="top">
						<br>
							<table style="width:100%">
								<tr>
									<td><label for="mail_from">From:</label></td>
									<td><input type="text" class="form-control" name="mail_from" id="mail_from" placeholder="Sender" value="{{ fr }}"></td>
								</tr>
								<tr>
									<td><label for="mail_to">To:</label></td>
									<td><input type="text" class="form-control" name="mail_to" id="mail_to" placeholder="Receiver" value="{{ to }}"></td>
								</tr>
								<tr>
									<td><label for="mail_to">Bcc:</label></td>
									<td><input type="text" class="form-control" name="mail_bcc" id="mail_bcc" placeholder="CC Receiver" value="{{ bc }}"></td>
								</tr>
								<tr>
									<td><label for="mail_subj">Subject:</label></td>
									<td><input type="text" class="form-control" name="mail_subj" id="mail_subj" placeholder="Subject" value="{{ sj }}"></td>
								</tr>
							</table>
					</td>
				</tr>
				<tr>
					<td>

					</td>
				</tr>
			</table>
		<textarea class="form-control" id="mail_text" name="mail_text" rows="4" placeholder="Text">{{ tx }}</textarea>
		</td>
		<td valign="top">

		</td>
	</tr>
	<tr>
		<td>
			<input type = "submit" class="btn btn-success" name = "btn" value = "GENERATE" >
		</td>
		<td align="right">
			<input type = "submit" class="btn btn-danger" name = "btn" value = "SEND" > <label>{{ Status }}</label>
		</td>
		<td>

		</td>
	</tr>
</table>


</form>


{% endblock %}

{% block footer %}

		<script src="\static\trumbowyg\trumbowyg.js"></script>
        <script src="\static\trumbowyg\langs\ru.min.js"></script>
        <script src="\static\trumbowyg\plugins\base64\trumbowyg.base64.js"></script>
        <script src="\static\trumbowyg\plugins\colors\trumbowyg.colors.js"></script>
        <script src="\static\trumbowyg\plugins\noembed\trumbowyg.noembed.js"></script>
        <script src="\static\trumbowyg\plugins\pasteimage\trumbowyg.pasteimage.js"></script>
        <script src="\static\trumbowyg\plugins\template\trumbowyg.template.js"></script>
        <script src="\static\trumbowyg\plugins\preformatted\trumbowyg.preformatted.js"></script>
        <script src="\static\trumbowyg\plugins\upload\trumbowyg.upload.js"></script>

<script>
            var isIE9 = navigator.userAgent.toLowerCase().indexOf('msie') !== -1 && parseInt(navigator.userAgent.toLowerCase().split('msie')[1]);
            if (!isIE9) {
                $('#trumbowyg-icons').remove();
            }

            $(document).on('keydown', function (e) {
                if (e.which === 27) {
                    console.log('ESCAPE');
                }
            });

            $('#simple-editor')
            .trumbowyg({
                btns: ['strong', 'em', 'del']
            })
            .on('dblclick', function(){
                $(this).trumbowyg();
            });

			$('#trumbowyg-demo').trumbowyg({
				btns: ['strong', 'em', '|', 'insertImage'],
				autogrow: true
			});

			$('#mail_text').trumbowyg({
    btns: [
        ['viewHTML'],
        ['undo', 'redo'], // Only supported in Blink browsers
        ['formatting'],
        ['strong', 'em', 'del'],
        ['superscript', 'subscript'],
        ['link'],
        ['insertImage'],
        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
        ['unorderedList', 'orderedList'],
        ['horizontalRule'],
        ['removeformat'],
        ['fullscreen']
    ]
});
</script>
{% endblock %}