{% extends "base.html" %}

{% block head %}

	<link rel="stylesheet" type="text/css" href="/static/css/datatables/dataTables.bootstrap.min.css">

{% endblock %}

{% block content %}

<table id="maillog" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Date</th>
							<th>From</th>
							<th>To</th>
							<th>BCC</th>
							<th>Subject</th>
							<th>Text</th>
						</tr>
					</thead>
 					<tbody>
					{% for row in todos %}
						<tr>
							<td><small>{{ row["date"] }}</small></td>
							<td><small>{{ row["from"] }}</small></td>
							<td><small>{{ row["to"] }}</small></td>
							<td><small>{{ row["bcc"] }}</small></td>
							<td><small>{{ row["subject"] }}</small></td>
							<td><small>{{ row["text"] }}</small></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

{% endblock %}

{% block footer %}

	<script type="text/javascript" language="javascript" src="/static/js/datatables/jquery-1.12.4.js">
	</script>
	<script type="text/javascript" language="javascript" src="/static/js/datatables/jquery.dataTables.min.js">
	</script>
	<script type="text/javascript" language="javascript" src="/static/js/datatables/dataTables.bootstrap.min.js">
	</script>

	<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#maillog').DataTable({
		"order": [[ 0, "desc" ]]
	}
	);
} );
	</script>

{% endblock %}
