{% extends "base.html" %}

{% block head %}

	<link rel="stylesheet" type="text/css" href="/static/css/datatables/dataTables.bootstrap.min.css">

{% endblock %}

{% block content %}

<table id="adusers" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>SamAccountName</th>
							<th>Display Name</th>
							<th>Mail</th>
							<th>Position</th>
							<th>Manager</th>
							<th>Disabled</th>
							<th>Country</th>
							<th>Office</th>
							<th>Division</th>
							<th>Department</th>
							<th>Mobile</th>
							<th>Update</th>
							<th>Options</th>
						</tr>
					</thead>
 					<tbody>
					{% for row in todos %}
						<tr>
							<td>{{ row["samaccountname"] }}</td>
							<td>{{ row["displayname"] }}</td>
							<td>{{ row["mail"] }}</td>
							<td>{{ row["position"] }}</td>
							<td>{{ row["manager"] }}</td>
							<td>{{ row["disabled"] }}</td>
							<td>{{ row["country"] }}</td>
							<td>{{ row["office"] }}</td>
							<td>{{ row["division"] }}</td>
							<td>{{ row["department"] }}</td>
							<td>{{ row["mobile"] }}</td>
							<td>{{ row["changedate"] }}</td>
							<td class="func1">
								<table>
									<tr>
										<td>
											<a href="/perforce/p4-users-add?_id={{ row['_id'] }}"><button type="button" class="btn btn-primary btn-sm">Create P4-account</button></a>
										</td>
										<td>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

{% endblock %}

{% block footer %}

	<script type="text/javascript" language="javascript" src="/static/js/datatables/jquery-1.12.4.js">
	</script>
	<script type="text/javascript" language="javascript" src="/static/js/datatables/jquery.dataTables.min.js">
	</script>
	<script type="text/javascript" language="javascript" src="/static/js/datatables/dataTables.bootstrap.min.js">
	</script>

	<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#adusers').DataTable({

	"rowCallback": function( row, data, index ) {
    if ( data[5] == "True" )
    {
        $('td', row).css('color', '#FA5858');
    }
}

	}
	);
} );
	</script>

{% endblock %}
