{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}



<table id="tabl_p4permissions" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Id</th>
							<th>Access level</th>
							<th>Type</th>
							<th>Name</th>
							<th>Host</th>
							<th>Folder/file</th>
						</tr>
					</thead>
 					<tbody>
					{% for row in todos %}
						<tr>
							<td>{{ row["num"] }}</td>
							<td>{{ row["accesslevel"] }}</td>
							<td>{{ row["type"] }}</td>
							<td>{{ row["name"] }}</td>
							<td>{{ row["host"] }}</td>
							<td>{{ row["folder"] }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>


{% endblock %}

{% block footer %}

<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#tabl_p4permissions').DataTable({
	});
} );
	</script>
{% endblock %}
