{% extends "base.html" %}
{% block content %}

<p></p>
<p><h2>Пароль пользователя <font color="green">{{ account }}</font> сброшен.</h2></p>
<p><h2>Новый пароль - <font color="red">StartStart</font></h2></p>

{% endblock %}

