{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

<form action="/perforce/p4_users_action" method="POST">
  <div class="form-group">
	<div class="form-check form-check-inline">
		<label class="form-check-label"><input class="form-check-input" onclick="this.form.submit();" name="checkbox" type="checkbox"  value="True" {% if ch =='checked' %} checked {% endif %} >Only non-deleted accounts</label>
	</div>
  </div>
</form>

<table id="tabl_p4users" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Account</th>
							<th>Full Name</th>
							<th>Mail</th>
							<th>Type</th>
							<th>Access date</th>
							<th>Change date</th>
							<th>Created date</th>
							<th>Deleted date</th>
							<th>TFS WI</th>
							<th>History</th>
							<th>Options</th>
						</tr>
					</thead>
 					<tbody>
					{% for row in todos %}
						<tr>
							<td>{{ row["account"] }}</td>
							<td>{{ row["name"] }}</td>
							<td>{{ row["mail"] }}</td>
							<td>
							{% if  row["type_account"] == "User" %}<button type="button" class="btn btn-secondary">{{ row["type_account"] }}</button>
							{% elif row["type_account"] == "Service account" %}<button type="button" class="btn btn-primary">{{ row["type_account"] }}</button>
							{% elif row["type_account"] == "Shared account" %}<button type="button" class="btn btn-success">{{ row["type_account"] }}</button>
							{% elif row["type_account"] == "User (not delete)" %}<button type="button" class="btn btn-danger">{{ row["type_account"] }}</button>
							{% elif row["type_account"] == "User (only CodeCollab)" %}<button type="button" class="btn btn-warning">{{ row["type_account"] }}</button>
							{% elif row["type_account"] == "Deleted" %}<button type="button" class="btn btn-warning">{{ row["type_account"] }}</button>
							{% endif %}
							</td>
							<td>{{ row["access"] }}</td>
							<td>{{ row["change"] }}</td>
							<td>{{ row["created_date"] }}</td>
							<td>{% if row["deleted_date"] != "" %}<button type="button" class="btn btn-danger">{{ row["deleted_date"] }}</button> {% endif %}</td>
							<td>
								{% if  row["tfs_wi"] != "" %}<a href="https://hqrndtfs.avp.ru/tfs/DefaultCollection/ALM-Support/_workitems?id={{ row['tfs_wi'] }}" class="btn btn-link" role="button" target="_blank">{{ row['tfs_wi'] }}</a>
								{% endif %}
							</td>
							<td>{% if  row['comment'] != "" %}<button title="{{ row['comment'] }}" class="btn btn-info">Details</button> {% endif %}</td>
							<td class="func1">
								<table>
									<tr>
										<td>
											<a href="./p4-users-edit?_id={{ row['_id'] }}"><button type="button" class="btn btn-primary btn-sm">EDIT</button></a>
										</td>
										<td>
										</td>
										<td>
											<a href="./p4-users-reset-psw?_id={{ row['_id'] }}"><button type="button" class="btn btn-danger btn-sm">RESET PSW</button></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>


{% endblock %}

{% block footer %}

<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#tabl_p4users').DataTable({
	});
} );
	</script>
{% endblock %}
