{% extends "base.html" %}
{% block content %}

<h2>Обновить P4-аккаунт</h2>


<table>
    <tr>
        <td style="width:30%" valign="top">

            <form action="/perforce/p4-users-edit-action" method="POST">

                <h3><span class="label label-primary">Information:</span></h3>

                    <table style="width:100%">
                        <tr>
                            <td>Unique Object ID:</td>
                            <td> </td>
                            <td>
                                <input type="text" class="form-control" name="id" id="id" value="{{ user['_id'] }}" readonly>
                            </td>
                        </td>
                        </tr>
                        <tr>
                            <td>Created date:</td>
                            <td></td>
                            <td>
                                <input type="text" class="form-control" name="created_date" value="{{ user['created_date'] }}"  readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Deleted date:</td>
                            <td></td>
                            <td>
                                <input type="text" style="color:red;" class="form-control" name="deleted_date" value="{{ user['deleted_date'] }}"  readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Access date:</td>
                            <td></td>
                            <td>
                                <input type="text" class="form-control" name="created_date" value="{{ user['access'] }}"  readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Change date:</td>
                            <td></td>
                            <td>
                                <input type="text" class="form-control" name="created_date" value="{{ user['change'] }}"  readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Account:</td>
                            <td></td>
                            <td>
                                <input type="text" class="form-control" name="account" value="{{ user['account'] }}"  readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Full Name:</td>
                            <td> </td>
                            <td>
                                <input type="text" class="form-control" name="name" value="{{ user['name'] }}"  readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>Mail:</td>
                            <td> </td>
                            <td>
                                <input type="text" class="form-control" name="mail" value="{{ user['mail'] }}"  readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>TFS wi:</td>
                            <td> </td>
                            <td>
                                <input type="text" class="form-control" name="tfswi" value="{{ user['tfs_wi'] }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Type Account</td>
                            <td> </td>
                            <td>{{ user['type_account'] }} >>>
                                    <select class="btn btn-default dropdown-toggle" name="typeaccount">
                                        <option value="User" {% if ta=="User" %} selected="selected"{% endif %}>User</option>
                                        <option value="User (not delete)" {% if ta=="US_N" %} selected="selected"{% endif %}>User (not delete)</option>
                                        <option value="User (only CodeCollab)" {% if ta=="US_C" %} selected="selected"{% endif %}>User (only CodeCollab)</option>
                                        <option value="Service account" {% if ta=="SRV" %} selected="selected"{% endif %}>Service account</option>
                                        <option value="Shared account" {% if ta=="SHD" %} selected="selected"{% endif %}>Shared account</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <td>New comment:</td>
                            <td> </td>
                            <td><textarea class="form-control" name="comment" id="comment" rows="4" placeholder="Text"></textarea>
                            </td>
                        </tr>
                    </table>

                <br>
                <input type = "submit" class="btn btn-danger" name = "btn" value = "UPDATE" > <a href="/perforce/p4-users">RETURN</a>

            </form>

        </td>
        <td>&nbsp;&nbsp;</td>

        <td style="width:30%" valign="top">
            <h3><span class="label label-primary">History:</span></h3>
            <textarea  style="width:100%" class="form-control" name="history" id="history" rows="18" cols="20" placeholder="Text" name="TextControl" readonly>{{ user['comment'] }}</textarea></div>
        </td>

        <td>&nbsp;&nbsp;</td>

        <td  style="width:40%" valign="top">
            <h3><span class="label label-primary">Permissions:</span></h3>
            <table id="tabl_p4permissions" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Access level</th>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Host</th>
                                    <th>Folder/file</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for row in todos %}
                                <tr>
                                    <td>{{ row["num"] }}</td>
                                    <td>{{ row["accesslevel"] }}</td>
                                    <td>{{ row["type"] }}</td>
                                    <td>{{ row["name"] }}</td>
                                    <td>{{ row["host"] }}</td>
                                    <td>{{ row["folder"] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
            </table>
        </td>
    </tr>
</table>



{% endblock %}

{% block footer %}

<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#tabl_p4permissions').DataTable({
	});
} );
	</script>
{% endblock %}
