{% extends "base.html" %}
{% block content %}

<h2>Создание P4-аккаунта</h2>

<form action="/perforce/p4-users-add-action" method="POST">

	    <table>
	        <tr>
              <td><font color="red">Account:</font></td>
                <td></td>
                <td>
                    <input type="text" class="form-control" placeholder="Account" aria-describedby="sizing-addon2" name="account" value="{{ sam }}"  required>
                </td>
	        </tr>
	        <tr>
              <td><font color="red">Full Name:</font></td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="Full Name" aria-describedby="sizing-addon2" name="name" value="{{ fn }}"  required>
                </td>
	        </tr>
	        <tr>
              <td><font color="red">Mail:</font></td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="Mail" aria-describedby="sizing-addon2" name="mail" value="{{ mail }}" required>
                </td>
	        </tr>
	        <tr>
	            <td>TFS wi:</td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="TFS wi" aria-describedby="basic-addon2" name="tfswi">
                </td>
	        </tr>
	        <tr>
                <td>Type Account: </td>
                <td> </td>
                <td>
                        <select class="btn btn-default dropdown-toggle" name="typeaccount">
                            <option value="User" {% if ta=="User" %} selected="selected"{% endif %}>User</option>
                            <option value="User (not delete)" {% if ta=="US_N" %} selected="selected"{% endif %}>User (not delete)</option>
                            <option value="User (only CodeCollab)" {% if ta=="US_C" %} selected="selected"{% endif %}>User (only CodeCollab)</option>
                            <option value="Service account" {% if ta=="SRV" %} selected="selected"{% endif %}>Service account</option>
                            <option value="Shared account" {% if ta=="SHD" %} selected="selected"{% endif %}>Shared account</option>
                            <option value="Deleted" {% if ta=="DEL" %} selected="selected"{% endif %}>Deleted</option>
                        </select>
                </td>
	        </tr>
	        <tr>
                <td>Comment</td>
                <td> </td>
                <td><textarea class="form-control" name="comment" id="comment" rows="4" placeholder="Text"></textarea>
                </td>
	        </tr>
	    </table>


<ul class="list-group">
  <li class="list-group-item list-group-item-warning" style="width:300px;">Пароль по умолчанию <b><i>"StartStart"</i></b></li>
  <li class="list-group-item list-group-item-warning" style="width:300px;">Пользователь автоматически будет добавлен в P4-группу <b><i>"everyone"</i></b></li>
</ul>

<button type="submit" class="btn btn-primary"  {% if free==0 %} disabled{% endif %}>CREATE</button> <a href="/perforce/p4-users">RETURN</a>
  <p></p>
  {% if free==0 %} <div class="alert alert-danger" role="alert">Закончились свободные лицензии Perforce.</div>{% endif %}
</form>


{% endblock %}

