{% extends "base.html" %}
{% block content %}

<h2>Добавление TFS-проекта</h2>

<form action="/tfs/tfs-projects-add-action" method="POST">

	    <table>
	        <tr>
              <td><font color="red">TFS Project:</font></td>
                <td></td>
                <td>
                    <input type="text" class="form-control" placeholder="TFS Project" aria-describedby="sizing-addon2" name="name" value="" required>
                </td>
	        </tr>
	        <tr>
              <td>Manager:</td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="Manager" aria-describedby="sizing-addon2" name="manager" value="">
                </td>
	        </tr>
	        <tr>
              <td>Description:</td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="Description" aria-describedby="sizing-addon2" name="description" value="">
                </td>
	        </tr>
	        <tr>
              <td>TFS Template:</td>
                <td> </td>
                <td>
                    <select class="btn btn-default dropdown-toggle" name="tfstemplate">
                                        <option value="" selected>(не выбран)</option>
                                        <option value="Agile">Agile</option>
                                        <option value="CMMI">CMMI</option>
                                        <option value="Scrum">Scrum</option>
                    </select>
                </td>
	        </tr>
	        <tr>
	            <td>TFS wi:</td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="TFS wi" aria-describedby="basic-addon2" name="tfswi">
                </td>
	        </tr>
	        <tr>
	            <td>Archived:</td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="TFS wi" aria-describedby="basic-addon2" name="arvhived">
                </td>
	        </tr>
	        <tr>
                <td>Comment</td>
                <td> </td>
                <td><textarea class="form-control" name="comment" id="comment" rows="4" placeholder="Text"></textarea>
                </td>
	        </tr>
	    </table>

<button type="submit" class="btn btn-primary">ADD</button> <a href="/tfs/tfs-projects">RETURN</a>
  <p></p>
</form>


{% endblock %}

