{% extends "base.html" %}
{% block content %}

<h2>Обновить TFS-проект</h2>

<form action="/tfs/tfs-projects-edit-action" method="POST">
<table>
    <tr>
        <td style="width:30%" valign="top">

        <h3><span class="label label-primary">Information:</span></h3>

	    <table>
	        <tr>
              <td><font color="red">TFS Project:</font></td>
                <td></td>
                <td>
                    <input type="text" style="font-weight: bold;" class="form-control" placeholder="TFS Project" aria-describedby="sizing-addon2" name="name" value="{{ project['name'] }}" {% if ch =='checked' %} readonly {% endif %}>
                </td>
	        </tr>
	        <tr>
              <td></td>
                <td></td>
                <td>
                    <input type="hidden" class="form-control" placeholder="TFS Project" aria-describedby="sizing-addon2" name="_id" value="{{ project['_id'] }}" readonly>
                </td>
	        </tr>
	        <tr>
              <td>Created date:</td>
                <td></td>
                <td>
                    <input type="text" class="form-control" placeholder="Created date" aria-describedby="sizing-addon2" name="created_date" value="{{ project['created_date'] }}" readonly>
                </td>
	        </tr>
	        <tr>
              <td>Update date:</td>
                <td></td>
                <td>
                    <input type="text" class="form-control" placeholder="Update date" aria-describedby="sizing-addon2" name="update_date" value="{{ project['update_date'] }}" readonly>
                </td>
	        </tr>
	        <tr>
              <td></td>
                <td></td>
                <td>
                    <input type="hidden" style="color:red;" class="form-control" placeholder="Deleted date" aria-describedby="sizing-addon2" name="deleted_date" value="{{ project['deleted_date'] }}" readonly>
                </td>
	        </tr>
	        <tr>
              <td>Manager:</td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="Manager" aria-describedby="sizing-addon2" name="manager" value="{{ project['manager'] }}" {% if ch =='checked' %} readonly {% endif %}>
                </td>
	        </tr>
	        <tr>
              <td>Description:</td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="Description" aria-describedby="sizing-addon2" name="description" value="{{ project['description'] }}" {% if ch =='checked' %} readonly {% endif %}>
                </td>
	        </tr>
	        <tr>
              <td>TFS Template:</td>
                <td> </td>
                <td>
                    <select class="btn btn-default dropdown-toggle" name="tfstemplate" {% if ch =='checked' %} disabled {% endif %}>
                                        <option value="" {% if tfst=="" %} selected="selected"{% endif %}>(не выбран)</option>
                                        <option value="Agile" {% if tfst=="Agile" %} selected="selected"{% endif %}>Agile</option>
                                        <option value="CMMI" {% if tfst=="CMMI" %} selected="selected"{% endif %}>CMMI</option>
                                        <option value="Scrum" {% if tfst=="Scrum" %} selected="selected"{% endif %}>Scrum</option>
                    </select>
                </td>
	        </tr>
	        <tr>
	            <td>TFS wi:</td>
                <td> </td>
                <td>
                    <input type="text" class="form-control" placeholder="TFS wi" aria-describedby="basic-addon2" name="tfswi" value="{{ project['tfswi'] }}" {% if ch =='checked' %} readonly {% endif %}>
                </td>
	        </tr>
            <tr>
              <td></td>
                <td> </td>
                <td>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label"><input class="form-check-input" name="archived" id="archived" type="checkbox"  value="Yes" {% if ch =='checked' %} checked {% endif %} >Archived</label>
                    </div>
                </td>
	        </tr>
	    </table>

                <br>
                <input type = "submit" class="btn btn-danger" name = "btn" value = "UPDATE" > <a href="/tfs/tfs-projects">RETURN</a>

        </td>
        <td>&nbsp;&nbsp;</td>

        <td style="width:30%" valign="top">
            <h3><span class="label label-primary">New comment:</span></h3>
            <textarea  style="width:100%" class="form-control" name="comment" id="comment" rows="18" cols="20" placeholder="Text"></textarea></div>
        </td>

        <td>&nbsp;&nbsp;</td>

        <td style="width:30%" valign="top">
            <h3><span class="label label-primary">History:</span></h3>
            <textarea  style="width:100%" class="form-control" name="history" id="history" rows="18" cols="20" placeholder="Text" readonly>{{ project['comment'] }}</textarea></div>
        </td>

    </tr>
</table>
            </form>


{% endblock %}

{% block footer %}

{% endblock %}
