{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

<form action="/tfs/tfs_projects_action" method="POST">
  <div class="form-group">
	<div class="form-check form-check-inline">
		<label class="form-check-label"><input class="form-check-input" onclick="this.form.submit();" name="flag" type="checkbox"  value="True" {% if fl =='checked' %} checked {% endif %} >TFS-проекты без менеджера (не архивные)</label>
	</div>
  </div>
</form>

<table id="tfsprojects" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>TFS Project</th>
							<th>Manager</th>
							<th>Created date</th>
							<th>Update date</th>
							<th>Archived</th>
							<th>Options</th>
						</tr>
					</thead>
 					<tbody>
					{% for row in todos %}
						<tr>
							<td><b>
								<a href="https://hqrndtfs.avp.ru/tfs/DefaultCollection/{{ row["name"] }}/_admin/_security?_a=members">{{ row["name"] }}</a>
								</b></td>
							<td>{{ row["manager"] }}</td>
							<td>{{ row["created_date"] }}</td>
							<td>{{ row["update_date"] }}</td>
							<td>{% if  row["archived"] == "Yes" %}<button type="button" class="btn btn-danger">{{ row["archived"] }}</button>
							{% elif row["archived"] == "No" %}<button type="button" class="btn btn-secondary">{{ row["archived"] }}</button>
							{% endif %}
							</td>
							<td class="func1">
								<table>
									<tr>
										<td>
											<a href="./tfs-projects-edit?_id={{ row['_id'] }}"><button type="button" class="btn btn-primary btn-sm">EDIT</button></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

{% endblock %}

{% block footer %}

	<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#tfsprojects').DataTable({
	"rowCallback": function( row, data, index ) {
    if ( data[4] == "Yes" )
    {
        $('td', row).css('color', '#FA5858');
    }
}

	}
	);
} );

	</script>

{% endblock %}
